
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');


:root{
    --oranzova:     oklch(70.82% 0.1512 61.38);
    --svetla-cyan:   oklch(47.37% 0.0807 203.41);
    --tmava-cyan:  oklch(34.38% 0.0589 192.89);


    --transparentna-biela: hsla(0, 0%, 100%, 0.75);
    --svetloseda:  hsl(0, 0%, 95%);
}

body {
color: var(--svetloseda);
}
p.a{
    font-family: "Lexand Deca", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.8rem;
    
}

section{
    padding: 3rem; 

}
.autosedany{
    background-color: var(--oranzova);
}
.autosuvs{
    background-color: var(--svetla-cyan);
}
.autoluxary{
    background-color: var(--tmava-cyan);
}
h2{
    font-size: 2.5rem;
    font-family: "Big Shoulders", sans-serif;
    text-transform: uppercase;
}

a{
    padding: 0.5rem ;
    background-color: var(--transparentna-biela);
    text-decoration: none underline;
    border-radius: 30px;
    margin: 4rem 0;
    
}
